"*":
  "atom-cscope":
    LiveSearch: false
    WidgetLocation: "bottom"
    cscopeSourceFiles: ".c .cc .cpp .h .hpp .java"
  core:
    disabledPackages: [
      "symbols-view"
    ]
  "exception-reporting":
    userId: "808de652-8699-eb1b-8ca1-b3dc97387b8b"
  welcome:
    showOnStartup: false
